<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>玉米价格</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        }
        body{ text-align:center} 
    </style>
    <script src="https://code.highcharts.com.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/themes/sand-signika.js"></script>
</head>

<body>
    <div id="container" style="min-width:400px;height:600px"></div>
    <div id="btn">
        <button type="button" class="button"
            onclick="window.location.href='http://123.207.246.172:8004/corn/{{ region }}/6'">6个月</button>
        <button type="button" class="button"
            onclick="window.location.href='http://123.207.246.172:8004/corn/{{ region }}/12'">12个月</button>
        <button type="button" class="button"
            onclick="window.location.href='http://123.207.246.172:8004/corn/{{ region }}/18'">18个月</button>
        <button type="button" class="button"
            onclick="window.location.href='http://123.207.246.172:8004/corn/{{ region }}/24'">24个月</button>
        <button type="button" class="button"
            onclick="window.location.href='http://123.207.246.172:8004/corn/{{ region }}/36'">36个月</button>
    </div>
    <script>
        var chart = Highcharts.chart('container', {
            chart: {
                type: 'spline'
            },
            title: {
                text: '{{ region }}'
            },
            subtitle: {
                text: '近{{ month }}个月玉米价格变化分析'
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: null
                }
            },
            colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
            yAxis: {
                title: {
                    text: '价格 (元/吨)'
                },
                min: {{ min_price }},
                max: {{ max_price }}
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f} 元/吨'
            },
            plotOptions: {
                spline: {
                    marker: {
                        enabled: true
                    }
                }
            },
            series: [
                {
                    name: '最高价', data: {{ max }}
                }, {
                    name: '最低价', data: {{ min }}
        }
            ]
        });
    </script>
</body>

</html>